    .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   

   
    }
    body{
      background:url('https://i.pinimg.com/originals/63/2a/68/632a681be7c9dbd77bc2a9ca6334af58.jpg') no-repeat center center/cover;
      background-attachment: fixed;
      color:aliceblue;
   
    }
    .logo {
        font-size: 24px;
        font-weight: bold;
        text-shadow: 0 0 10px;
      }
      
      .logo span {
        color: #FF4500;
      }
      
 
      .cabecalho {
        background: linear-gradient(800deg, #FFFFFF, #FF4500);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
        font-size: 19px;
        font-family: 'Roboto',sans-serif;
        display: flex;
        align-items: center;
        gap: 20px;
      }
    
    .special {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
      text-align: center;
      position: relative;
    }
   
    .text {
      position: relative;
      z-index: 2;
    }
    
    h1 {
      font-size: 48px;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      text-shadow: 0 0 10px;
    }
    
    h1 span {
      color: #FF4500;
      font-family: 'Roboto', sans-serif;
      font-size: 40px;
    }

    h2{
      font-family: 'Roboto', sans-serif;
      margin-top: -25px;
      
    }
    
    .redes-sociais {
      display: flex;
      justify-content: left;
      padding: 20px;
    
     
    }
    
    .redes-sociais img {
      width: 35px;
      margin: 0 10px; }

        